<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>View Products</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <main id="content">
            <navigation></navigation>
            <div class="header">
                <h1>Products</h1>
            </div>
            <div class="filterNav">
                <button v-for="cat in categories" @click.prevent="filterByCategory(cat)">{{cat}}</button>
                <button @click.prevent="getAllProducts()">all</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Available</th>
                        <th>Purchase</th>
                </thead>
                <tbody> 
                    <tr v-for="product in products">
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.listPrice}}</td>  <!--cant get my format currency working in here tried "formatCurrency(product.listPrice)-->
                        <td>{{product.quantityInStock}}</td>
                        <td><button @click.prevent="buyProduct(product)">buy</button></td>
                    </tr>
                </tbody>
            </table>
        </main>
        <script type="module" src="js/products-list.js"></script>
    </body>
</html>
